.container {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  height: 780px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  color: #ffffff;
}

span {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-right: 70px;
}

span .logoutBtn {
  color: #000;
  margin-left: 20px;
}

.greetings {
  color: #333;
}

.togglesDiv {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #007bff;
  /* Off state color */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for color change */
}

.button:hover {
  font-family: "Poppins", sans-serif;
  background-color: #0056b3;
  /* Darker shade for hover effect */
}

.default-button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  /* margin: 10px; */
  background-color: #007bff;
  /* Off state color */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for color change */
}

.default-button:hover {
  font-family: "Poppins", sans-serif;
  background-color: #0056b3;
  /* Darker shade for hover effect */
}

.button-on {
  font-family: "Poppins", sans-serif;
  background-color: #ffdd00;
  /* On state color, resembling a light */
  color: #000;
  /* Text color change to improve readability when on */
}

.button-on:hover {
  font-family: "Poppins", sans-serif;
  background-color: #ffcc00;
  /* Slightly different shade for hover when on */
}

.record-button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin: 50px 0;
  background-color: #007bff;
  /* Off state color */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for color change */
}

.record-button:hover {
  font-family: "Poppins", sans-serif;
  background-color: #0056b3;
  /* Darker shade for hover effect */
}

.moods-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 3% 0 3% 0;
}

.mood-select {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  /* Updated for centering items */
  align-items: center;
  margin: 10% 0;
  margin-bottom: 20px;
}

.mood-option {
  padding: 10px;
  /* Adjust padding as needed */
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 20%;
  /* Make the button round */
  cursor: pointer;
  display: flex;
  justify-content: center;
  /* Center the content */
  align-items: center;
  width: 100px;
  /* Adjust size to make it look round */
  height: 90px;
  /* Adjust size to make it look round */
}

.mood-option.selected,
.mood-option:focus {
  border-color: #ffffff;
  /* Highlight border for selected/focused */
  border-radius: 50%;
  transform: scale(1.3);
  /* Optionally scale up a bit on selection */
}

.records {
  margin-top: 20px;
}

.records ul {
  list-style: none;
  padding: 0;
}

.record-item {
  background-color: #b2b2b2;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-pill {
  display: inline-block;
  width: 30px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.container {
  max-width: 80vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #929292;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h1 {
  margin-bottom: 20px;
}
